html {
	scroll-behavior: smooth;
}

main {
	display: grid;
	grid-template-columns: 1.3fr 2fr 1.3fr;
	grid-template-rows: repeat(1, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.main-card {
	min-width: 850px;
	max-width: 1000px;

	justify-self: center;
}

.results-card {
	max-width: 200px;
}

.main-header {
	background: white;
}

.nav {
	justify-content: center;
}

.answer-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(1, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	margin-top: 20px;
}

.quiz-zone {
	color:grey;
	border: 1px solid #d8d8d8;
	min-width: 250px;
	transition: all 0.3s linear;
	margin-right: 10px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content : space-around;
}

.quiz-zone:hover {
	-webkit-box-shadow: 0px 0px 0px 3px rgba(1,124,255,0.25);
	-moz-box-shadow: 0px 0px 0px 3px rgba(1,124,255,0.25);
	box-shadow: 0px 0px 0px 3px rgba(1,124,255,0.25);
}

.img {
	max-width: 100%
	min-width: auto;
}
/*Radio button*/

.option-input {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	height: 15px;
	width: 15px;
	min-height: 15px;
	min-width: 15px;
	transition: all 0.15s ease-out 0s;
	border: 2px solid #9faab7;
	outline: none;
	-webkit-box-shadow: 0px 0px 0px 3px rgba(1,124,255,0);
	-moz-box-shadow: 0px 0px 0px 3px rgba(1,124,255,0);
	box-shadow: 0px 0px 0px 3px rgba(1,124,255,0);
}

.option-input:hover {
	background: #9faab7;
	cursor: pointer;
}

.option-input:checked {
	background: white;
	border: 4px solid #017cff;
	-webkit-box-shadow: 0px 0px 0px 3px rgba(1,124,255,0.25);
	-moz-box-shadow: 0px 0px 0px 3px rgba(1,124,255,0.25);
	box-shadow: 0px 0px 0px 3px rgba(1,124,255,0.25);
}

.option-input:checked::after {
/*	-webkit-animation: click-wave 1s;
	-moz-animation: click-wave 1s;
	animation: click-wave 1s;*/
	background: #40e0d0;
}

.option-input.radio {
	border-radius: 50%;
}

.option-input.radio::after {
	border-radius: 50%;
}
/*Radio button end*/

li {
	text-align: left;
	color: black;
}

.results-list {
	padding-left: 0px;
}

h5 {
	text-align: left;
}

.li-head {
	list-style: none;
}

.checkbox {
	display: inline-block;
	text-align: left;
	margin-bottom: 15px;
}

.checkbox-img {
	order: 2;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	max-width:100%;
	height:auto;
}

.checkBoxList {
	max-width: 500px;
}

.item {
	display: flex;
	justify-content : space-between;
	border: 1px solid white;
	padding: 5px;
	width: 100%;
	margin: 2px;
	/*font-weight: bold;*/
	/*color: white;*/
}

.partA {
	border-top: 1px solid #fc466b;
}

.partB {
	border-top: 1px solid #3f5efb;
}

.score {
	margin-right: 10px;
}

.sum {
	/*font-weight: bold;*/
	background-color: white;
	color: black;
	font-size: large;
}

.controls > * {
	margin: 10px;
	text-transform: uppercase;
	font-weight: bold;
}

.results-card-hide {
	display: none;
}

.results-card-show {
	display: block;
	position:fixed;
	z-index: 1;
	bottom: 60px;
	right: 0;
	max-height: calc(100% - 50px);
	overflow: auto;
}

.mobile-results {
	z-index: 1;
	display: inline-block;
	background: rgba(255, 255, 255, 0.9);
	max-width: 25%;
	min-width: 100px;
	text-align: right;
	position:fixed;    /*Here's what sticks it*/
	bottom: 0;          /*to the bottom of the window*/
	right: 100px;
	border: 3px solid #d8d8d8;   
	border-radius: 5px;
}

.hide {
	display: none;
}

.form-container {
	justify-content: center;

	margin-right: 25%;
	margin-left: 25%;

}

.nav-link {
	color: #bbb;
}
.nav-link:hover {
	color: #bbb;
	cursor: not-allowed;
}

.nav-link > .active {
	color: black;
}

.nav-link.active:hover {
	cursor: default;
}

input {
	text-align: center;
}



.results-page {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.7fr 1fr 1.6fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;

/*	display: flex;
	flex-wrap: row wrap;
	justify-content: space-around; */
}

/*.results-page > * {
	flex: 2 100%;
}*/

#final-results {
	grid-area: 1 / 2 / 4 / 3;
}

#score-container {
	grid-area: 1 / 1 / 2 / 2;
	height: 100%;
}

#score-list {
	grid-area: 2 / 1 / 3 / 2;
}

#your-details {
	grid-area: 3 / 1 / 4 / 2;
}




.rula-card {
	border: 1px solid #d8d8d8;
	border-radius: 5px;
	justify-content: left;
	max-width: 350px;
	margin-right: 5px;
	/*margin: 0 0 0 0;*/
}

.personal-details {
	margin-bottom: 2px;
	font-style: italic;
	font-weight: bold;
}
.user-input {
	font-style: normal; 
	font-weight: normal;
	display: inline-block;
	margin-left: 5px;
	max-width: 480px;

}



/* Modal- start (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #f7f6f7;

}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #f7f6f7;

}
/*Modal end*/



@media screen and (max-width: 1200px) {
	.empty-row {
		visibility: hidden;
	}

	.results-card-show {
		bottom: calc(10% + 60px);
	}

	.mobile-results {
		/*Here's what sticks it*/
		bottom: 10%;          /*to the bottom of the window*/
		right: 0;

	}
}



@media screen and (max-width: 900px) {

	.empty-row {
		display: none;
	}

	.nav-item > .active {
		margin-bottom: 5px;
		border-radius: 5px;
		border-bottom: 1px solid #d8d8d8 !important;
	}

	main {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(1, 1fr);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		margin-left: 0;
		margin-right: 0;
	}

	.answer-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(1, 1fr);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		margin-left: 0;
		margin-right: 0;
	}

	.main-card {
		margin-left: 0;
		justify-content: center;
		min-width: 100%;
		max-width: 100%;
	}

	.btn {
		margin: 5px 0 5px 0;
	}

	#score-container {
		display: flex;
		flex-direction: column;
		order: 3;
	}

	#results-container {
		display: flex;
		order: 2;
	}

	#input-container {
		display: flex;
		order: 1;
	}

	#generate-btn {
		display: flex;
		order: 4;

	}
	.results-card-show {
		bottom: calc(2% + 60px);
	}

	.mobile-results {
		bottom:2%;
		right:0;   
	}

	.user-input {
		max-width: 400px;
	}

}

@media screen and (max-width: 600px) {
	.answer-grid {
		grid-template-columns: 1fr;
	}

	.results-card-show {
		bottom: calc(0% + 60px);
	}

	.mobile-results {
		bottom: 0;
		right:0;
		opacity: 0.7;
	}

	.form-container {
		justify-content: center;
		margin-right: 10%;
		margin-left: 10%;

	}
	.results-page {
		display: flex;
		flex-direction: column;
	}

	.user-input {
		max-width: 250px;

	}
}
